/*
 * le styles for datawrapper
 */
.control-group .control-label {
  text-align: left;
}
button {
  font-family: 'Roboto', Helvetica, sans-serif;
}
.btn {
  border-radius: 4px;
  background-image: none !important;
  font-family: 'Roboto', Helvetica, sans-serif;
}
.btn .fa {
  line-height: 19px;
}
.btn .fa.icon-btn-left {
  margin-left: -6px;
}
.btn .fa.icon-btn-right {
  margin-right: -6px;
}
.btn-primary,
.btn-success {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
  box-shadow: none;
  background-repeat: repeat-x;
}
.btn-primary {
  color: #fff !important;
  background-color: #1d81a2;
  border-color: darker(#1d81a2, 5%);
}
.btn-success {
  background-color: #09bb9f !important;
  border-color: darker(#09bb9f, 5%);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background: #1d81a2 !important;
}
.btn-inverse {
  background: #555;
}
.btn-danger {
  background: #c71e1d;
}
/* class applies to select element itself, not a wrapper element */
.select-css {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
  color: #444;
  line-height: 1.3;
  padding: 4px 24px 4px 6px;
  max-width: 100%;
  /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #ddd;
  border-top-color: #ccc;
  border-left-color: #ccc;
  box-shadow: none;
  border-radius: 2px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient.
        for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference

    */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23999999%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 0.7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 0.6em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none;
}
/* Hover style */
/* Focus style */
.select-css:focus {
  border-color: #52a8eccc;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  outline: none;
}
/* Set options to normal weight */
.select-css option {
  font-weight: normal;
}
/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}
/* Disabled styles */
.select-css:disabled,
.select-css[aria-disabled=true] {
  color: graytext;
  background-color: #f3f3f3;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23BBBBBB%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
}
/*
margin m* and padding p* helpers in all directions:

    *t for top
    *r for right
    *b for bottom
    *l for left
    *x horizontally for both left and right
    *y vertically for both top and bottom

You need to combine a margin/padding prefix with a direction suffix. For example:

    for a margin-top, use mt-*
    for a padding-bottom, use pb-*
    for both margin-left and margin-right, use mx-*

Each of these property-direction combinations needs to be appended with one of 6 value suffixes:
*/
.mt-0 {
  margin-top: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mr-1 {
  margin-right: 0.25rem !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.ml-1 {
  margin-left: 0.25rem !important;
}
.mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}
.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.ml-2 {
  margin-left: 0.5rem !important;
}
.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}
.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.mt-3 {
  margin-top: 0.75rem !important;
}
.mr-3 {
  margin-right: 0.75rem !important;
}
.mb-3 {
  margin-bottom: 0.75rem !important;
}
.ml-3 {
  margin-left: 0.75rem !important;
}
.mx-3 {
  margin-left: 0.75rem !important;
  margin-right: 0.75rem !important;
}
.my-3 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}
.mt-4 {
  margin-top: 1rem !important;
}
.mr-4 {
  margin-right: 1rem !important;
}
.mb-4 {
  margin-bottom: 1rem !important;
}
.ml-4 {
  margin-left: 1rem !important;
}
.mx-4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.my-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.mt-5 {
  margin-top: 1.5rem !important;
}
.mr-5 {
  margin-right: 1.5rem !important;
}
.mb-5 {
  margin-bottom: 1.5rem !important;
}
.ml-5 {
  margin-left: 1.5rem !important;
}
.mx-5 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}
.my-5 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.mt-6 {
  margin-top: 3rem !important;
}
.mr-6 {
  margin-right: 3rem !important;
}
.mb-6 {
  margin-bottom: 3rem !important;
}
.ml-6 {
  margin-left: 3rem !important;
}
.mx-6 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}
.my-6 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.pt-1 {
  padding-top: 0.25rem !important;
}
.pr-1 {
  padding-right: 0.25rem !important;
}
.pb-1 {
  padding-bottom: 0.25rem !important;
}
.pl-1 {
  padding-left: 0.25rem !important;
}
.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}
.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.pr-2 {
  padding-right: 0.5rem !important;
}
.pb-2 {
  padding-bottom: 0.5rem !important;
}
.pl-2 {
  padding-left: 0.5rem !important;
}
.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.pt-3 {
  padding-top: 0.75rem !important;
}
.pr-3 {
  padding-right: 0.75rem !important;
}
.pb-3 {
  padding-bottom: 0.75rem !important;
}
.pl-3 {
  padding-left: 0.75rem !important;
}
.px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}
.py-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}
.pt-4 {
  padding-top: 1rem !important;
}
.pr-4 {
  padding-right: 1rem !important;
}
.pb-4 {
  padding-bottom: 1rem !important;
}
.pl-4 {
  padding-left: 1rem !important;
}
.px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.pt-5 {
  padding-top: 1.5rem !important;
}
.pr-5 {
  padding-right: 1.5rem !important;
}
.pb-5 {
  padding-bottom: 1.5rem !important;
}
.pl-5 {
  padding-left: 1.5rem !important;
}
.px-5 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
.py-5 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.pt-6 {
  padding-top: 3rem !important;
}
.pr-6 {
  padding-right: 3rem !important;
}
.pb-6 {
  padding-bottom: 3rem !important;
}
.pl-6 {
  padding-left: 3rem !important;
}
.px-6 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
.py-6 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.nav-tabs {
  margin-bottom: -4px;
  z-index: 4;
  position: relative;
  background: #f9f9f9;
}
.nav-tabs .notification {
  border-radius: 50%;
  position: absolute;
  right: -3px;
  top: -3px;
  width: 12px;
  height: 12px;
  border: 5px solid #18a1cd;
  background: #ffffff;
  box-sizing: border-box;
}
.nav-tabs li {
  position: relative;
}
.nav-tabs li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #ddd;
  background: #f4f3f3;
}
.nav-tabs li a:hover {
  background-color: transparent;
  border: 1px solid #ddd;
}
.nav-tabs li.active a {
  color: #000;
  font-weight: bold;
  background: #f9f9f9;
  border-bottom-color: #f9f9f9;
}
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
  color: #000;
  background: #f9f9f9;
}
.nav-tabs.nav-stacked + .group {
  margin-top: 2em;
}
.nav-tabs.nav-stacked li a {
  background: transparent;
}
.nav-tabs.nav-stacked li a:hover {
  background: #eeeeee;
}
@media only screen and (max-width: 1199px) {
  .nav-tabs {
    font-size: 13px;
  }
  .nav-tabs > li a,
  .nav-tabs > li a:hover,
  .nav-tabs > li.active a {
    padding: 4px 8px;
    line-height: 24px;
  }
}
/** dw-create-upload **/
.dw-create-upload textarea {
  width: 100%;
  box-sizing: border-box !important;
  height: 200px;
  margin-top: 20px;
  font-family: 'Roboto Mono', fixed;
}
.dw-create-upload textarea:placeholder-shown {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #555;
  font-size: 20px;
  opacity: 1;
  padding: 20px;
  text-align: left;
}
.dw-create-upload p {
  margin-bottom: 1.5em;
}
.dw-create-upload .upload-form ul {
  margin: 0;
  padding: 0;
}
.dw-create-upload .upload-drop {
  background: #fff;
  text-align: center;
  font-size: 26px;
  color: #ccc;
  font-weight: 300;
}
.dw-create-upload #demo-datasets {
  font-family: 'Roboto', Helvetica, sans-serif;
}
/*
 * visualization styles
 */
.scrollfix-cont {
  padding-top: 30px;
}
.size-presets {
  position: absolute;
  top: 30px;
  right: 0;
  margin-right: -102px;
  width: 100px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.preset {
  text-align: center;
  background: #fff;
  border-top: 1px solid #ccc;
  cursor: pointer;
  padding: 10px 0px;
}
.preset.selected {
  font-weight: bold;
}
.chart-editor.dw-create-visualize.chart-editor-print .resizer {
  display: none;
}
.chart-editor.dw-create-visualize .visualization [contenteditable='true']:hover:after {
  content: ' click to edit';
  font-style: italic;
  font-size: 12px;
  font-family: sans-serif;
  color: #ccc;
}
.chart-editor.dw-create-visualize .visualization [contenteditable]:hover,
.chart-editor.dw-create-visualize .visualization [contenteditable]:focus {
  background: #fff;
}
.chart-editor.dw-create-visualize .visualization [contenteditable]:hover {
  padding: 5px;
}
.chart-editor.dw-create-visualize .visualization [contenteditable]:focus:after {
  content: '';
}
.chart-editor.dw-create-visualize #vis-options,
.chart-editor.dw-create-visualize .vis-options {
  position: relative;
}
.chart-editor.dw-create-visualize #vis-options fieldset legend,
.chart-editor.dw-create-visualize .vis-options fieldset legend {
  margin-bottom: 10px;
}
.chart-editor.dw-create-visualize #vis-options .vis-options-refine-loading,
.chart-editor.dw-create-visualize .vis-options .vis-options-refine-loading {
  z-index: 100000;
  position: absolute;
  left: -10px;
  top: 0;
  width: calc(100% + 20px);
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.chart-editor.dw-create-visualize #vis-options .vis-options-refine-loading > .fa-spin,
.chart-editor.dw-create-visualize .vis-options .vis-options-refine-loading > .fa-spin {
  position: absolute;
  color: #fff;
  left: calc(50% - 22px);
  top: 100px;
  font-size: 44px;
}
.chart-editor.dw-create-visualize #vis-options .vis-option-group,
.chart-editor.dw-create-visualize .vis-options .vis-option-group {
  margin-bottom: 9px;
  position: relative;
}
.chart-editor.dw-create-visualize #vis-options .vis-option-group.inline,
.chart-editor.dw-create-visualize .vis-options .vis-option-group.inline {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.chart-editor.dw-create-visualize #vis-options .vis-option-group .vis-option-help,
.chart-editor.dw-create-visualize .vis-options .vis-option-group .vis-option-help {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: default;
  padding-left: 15px;
  z-index: 100;
}
.chart-editor.dw-create-visualize #vis-options .vis-option-group .vis-option-help span,
.chart-editor.dw-create-visualize .vis-options .vis-option-group .vis-option-help span {
  display: block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  pointer-events: none;
  border-radius: 4px;
  background: none;
  color: #ccc;
  font-weight: 400;
}
.chart-editor.dw-create-visualize #vis-options .vis-option-group .vis-option-help:hover,
.chart-editor.dw-create-visualize .vis-options .vis-option-group .vis-option-help:hover {
  text-decoration: none;
}
.chart-editor.dw-create-visualize #vis-options .vis-option-group .vis-option-help:hover span,
.chart-editor.dw-create-visualize .vis-options .vis-option-group .vis-option-help:hover span {
  background: #eee;
  color: #444;
}
.chart-editor.dw-create-visualize #vis-options .vis-option-group.vis-option-type-radio-left .vis-option-help,
.chart-editor.dw-create-visualize .vis-options .vis-option-group.vis-option-type-radio-left .vis-option-help {
  top: 32px;
}
.chart-editor.dw-create-visualize #vis-options .vis-option-group.vis-option-type-separator .vis-option-help,
.chart-editor.dw-create-visualize .vis-options .vis-option-group.vis-option-type-separator .vis-option-help {
  top: 32px;
}
.chart-editor.dw-create-visualize #vis-options .vis-option-group.vis-option-type-select-axis-column .vis-option-help,
.chart-editor.dw-create-visualize .vis-options .vis-option-group.vis-option-type-select-axis-column .vis-option-help {
  top: 3px;
}
.chart-editor.dw-create-visualize #vis-options .vis-option-group legend + .control-group,
.chart-editor.dw-create-visualize .vis-options .vis-option-group legend + .control-group {
  margin-top: 0;
}
.chart-editor.dw-create-visualize #vis-options .vis-option-group.vis-option-type-select-axis-column .controls,
.chart-editor.dw-create-visualize .vis-options .vis-option-group.vis-option-type-select-axis-column .controls {
  margin-right: 20px;
}
.chart-editor.dw-create-visualize #vis-options .vis-option-group.vis-option-type-select,
.chart-editor.dw-create-visualize .vis-options .vis-option-group.vis-option-type-select {
  margin-bottom: 15px;
}
.chart-editor.dw-create-visualize #vis-options .tooltip,
.chart-editor.dw-create-visualize .vis-options .tooltip {
  min-width: 200px;
}
.chart-editor.dw-create-visualize #vis-options .vis-option-type-group,
.chart-editor.dw-create-visualize .vis-options .vis-option-type-group {
  padding-bottom: 0;
  margin-bottom: 20px;
}
.chart-editor.dw-create-visualize #vis-options .vis-option-type-group .option-group-content,
.chart-editor.dw-create-visualize .vis-options .vis-option-type-group .option-group-content {
  position: absolute;
  visibility: hidden;
}
.chart-editor.dw-create-visualize #vis-options .vis-option-type-group.group-open,
.chart-editor.dw-create-visualize .vis-options .vis-option-type-group.group-open {
  border-bottom: none;
  border: 0px solid #f9f9f9;
}
.chart-editor.dw-create-visualize #vis-options .vis-option-type-group.group-open .option-group-content,
.chart-editor.dw-create-visualize .vis-options .vis-option-type-group.group-open .option-group-content {
  position: static;
  visibility: visible;
}
.chart-editor.dw-create-visualize #vis-options .control-label,
.chart-editor.dw-create-visualize .vis-options .control-label {
  display: inline-block;
  text-align: top;
  width: auto;
  float: none;
  margin-right: 1em;
  vertical-align: baseline;
}
.chart-editor.dw-create-visualize #vis-options .vis-option-type-radio .control-label,
.chart-editor.dw-create-visualize .vis-options .vis-option-type-radio .control-label {
  vertical-align: text-top;
}
.chart-editor.dw-create-visualize #vis-options .controls,
.chart-editor.dw-create-visualize .vis-options .controls {
  display: inline-block;
  width: auto;
  float: none;
  margin-left: 0;
  vertical-align: baseline;
}
.chart-editor.dw-create-visualize #vis-options .tooltip .tooltip-inner,
.chart-editor.dw-create-visualize .vis-options .tooltip .tooltip-inner {
  background: #eee;
  border-color: #eee;
  font-size: 14px;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #444;
  line-height: 18px;
}
.chart-editor.dw-create-visualize #vis-options .tooltip.right .tooltip-arrow,
.chart-editor.dw-create-visualize .vis-options .tooltip.right .tooltip-arrow {
  border-right-color: #eee;
}
@media only screen and (max-width: 1199px) {
  .chart-editor.dw-create-visualize .navbar .nav > li > a {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 13px;
    line-height: 14px;
  }
  .chart-editor.dw-create-visualize .span4 {
    width: 350px;
  }
  .chart-editor.dw-create-visualize .span8 {
    width: 570px;
  }
}
@media (max-width: 976px) {
  .chart-editor.dw-create-visualize .vis-thumb {
    width: 55px;
    height: 55px;
  }
  .chart-editor.dw-create-visualize .vis-thumb img {
    width: 45px;
    height: 45px;
    left: 5px;
    top: 5px;
  }
}
.chart-editor.dw-create-visualize .resize-chart-wrap {
  margin-top: 10px;
}
.chart-editor.dw-create-visualize .resize-chart {
  text-align: center;
  margin-left: 10px;
  color: #000;
  font-size: 13px;
  line-height: 28px;
}
.chart-editor.dw-create-visualize .resize-chart a {
  padding-left: 1ex;
  color: #666;
}
.chart-editor.dw-create-visualize .resize-chart input[type='text'] {
  width: 4ex;
  position: relative;
  top: 3px;
}
.chart-editor.dw-create-visualize .resize-chart a.active {
  color: #000;
  font-weight: bold;
}
.chart-editor.dw-create-visualize #ender-overlay-mask {
  top: -60px !important;
}
.chart-editor.dw-create-visualize .alert-warning h4 {
  color: #a0711f;
  margin: 2px 0 5px;
}
.chart-editor.dw-create-visualize .visualize-nav-tabs li {
  max-width: 33%;
}
.chart-editor.dw-create-visualize .visualize-nav-tabs li.active {
  max-width: 47%;
}
.chart-editor.dw-create-visualize .control-group .pull-left {
  margin-right: 20px;
  margin-bottom: 10px;
}
.chart-editor.dw-create-visualize .custom-color-selector-body .btn {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
}
.chart-editor.dw-create-visualize .custom-color-selector-body .dataseries li label {
  font-weight: 400;
}
.chart-editor.dw-create-visualize .custom-color-selector-body .dataseries li.selected {
  background: #18a1cd22;
}
.chart-editor.dw-create-visualize .custom-color-selector-body .dataseries li.selected + li {
  border-top-color: #c6d9df;
}
.chart-editor.dw-create-visualize .visconfig {
  position: relative;
}
.chart-editor.dw-create-visualize .visconfig .btn {
  font-weight: 400;
}
.chart-editor.dw-create-visualize .visconfig label,
.chart-editor.dw-create-visualize .visconfig select,
.chart-editor.dw-create-visualize .visconfig input[type='text'],
.chart-editor.dw-create-visualize .visconfig textarea {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', Helvetica, sans-serif;
}
@media only screen and (max-width: 1199px) {
  .chart-editor.dw-create-visualize .visconfig label,
  .chart-editor.dw-create-visualize .visconfig select,
  .chart-editor.dw-create-visualize .visconfig input[type='text'],
  .chart-editor.dw-create-visualize .visconfig textarea {
    font-size: 13px;
    line-height: 15px;
  }
}
.chart-editor.dw-create-visualize .visconfig label.separator {
  font-weight: 500;
  text-align: left;
  margin-top: 10px;
  line-height: 20px;
  font-family: 'Roboto', Helvetica, sans-serif;
}
.chart-editor.dw-create-visualize .visconfig .vis-option-type-group .vis-option-type-separator label.separator {
  font-weight: 400;
  text-align: left;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 5px;
  line-height: 15px;
  font-family: 'Roboto', Helvetica, sans-serif;
  margin-top: 10px;
  color: #555;
  text-shadow: -2px -2px 0px #fff;
  letter-spacing: 1px;
  display: block;
  border-bottom: 2px solid #efefef;
}
.chart-editor.dw-create-visualize .visconfig .vis-option-type-group .vis-option-type-separator:first-child label.separator {
  margin-top: -5px;
}
.chart-editor.dw-create-visualize .visconfig input[type='radio'],
.chart-editor.dw-create-visualize .visconfig input[type='checkbox'] {
  margin: 2px 0 0;
}
.chart-editor.dw-create-visualize .visconfig label.checkbox {
  padding-left: 17px;
}
.chart-editor.dw-create-visualize .visconfig label.checkbox input[type='checkbox'] {
  margin-left: -17px;
}
.chart-editor.dw-create-visualize .visconfig .publish-btn,
.chart-editor.dw-create-visualize .visconfig .proceed-btn {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
.chart-editor.dw-create-visualize .visconfig .btn-stepback,
.chart-editor.dw-create-visualize .visconfig .btn-tabback {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
.chart-editor.dw-create-visualize .chart-byline {
  margin-top: 4px;
}
.vis-option-type-chart-description {
  padding-bottom: 1px;
}
.vis-option-type-chart-description input[type='text'],
.vis-option-type-chart-description textarea {
  margin-bottom: 5px;
}
.vis-archive-select {
  margin: 15px 0 0 0px;
  border-top: 1px solid #eee;
  padding-top: 10px;
  padding-left: 12px;
  opacity: 0.7;
}
.vis-archive-select select {
  margin-left: 7px;
  vertical-align: baseline;
  max-width: 180px;
}
textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
.uneditable-input {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ddd;
  border-top-color: #ccc;
  border-left-color: #ccc;
  box-sizing: content-box !important;
}
.dw-create-publish h3 {
  margin-bottom: 1ex;
}
.dw-create-publish #iframe-vis {
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding: 10px;
  border-radius: 0px;
  overflow: hidden;
  background: #fff;
  transform-origin: top left;
}
.dw-create-publish p.lead {
  margin-top: 30px;
}
.dw-create-publish .publishing .progress {
  height: 10px;
}
.dw-create-publish .chart-actions {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}
.dw-create-publish .chart-actions li {
  display: inline-block;
  flex: 0 0 100px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #eee;
  background: #fff;
  overflow: hidden;
  position: relative;
  padding: 15px 0 15px;
}
.dw-create-publish .chart-actions li a .title {
  display: inline-block;
  padding: 0 20px;
}
.dw-create-publish .chart-actions li a:hover {
  text-decoration: none;
}
.dw-create-publish .chart-actions li a:hover .title {
  text-decoration: underline;
}
.dw-create-publish .chart-actions li i.fa {
  display: block;
  font-size: 42px;
}
.dw-create-publish .chart-actions li .banner {
  position: absolute;
  background: #1d81a288;
  color: #fff;
  display: block;
  width: 82px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  right: -23px;
  top: 10px;
  text-align: center;
}
.dw-create-publish .chart-actions li.promo a {
  color: #460046 !important;
}
.dw-create-publish .chart-actions li.promo i.fa {
  color: rgba(50, 0, 50, 0.4) !important;
}
.dw-create-publish .chart-actions li.active {
  background: #1d81a2;
  color: #fff;
}
.dw-create-publish .chart-actions li.active a {
  outline: none;
}
.dw-create-publish .chart-actions li.active a,
.dw-create-publish .chart-actions li.active i.fa {
  color: #fff;
}
.dw-create-publish .chart-actions li.active .banner {
  background: #ffffff88;
  color: #1d81a2;
}
.dw-create-publish .publish-step .btn-aside {
  display: inline-block;
  max-width: 280px;
  vertical-align: top;
  margin-left: 10px;
  border-color: #e9d4ad;
}
.dw-create-publish .publish-step .svelte-publish .btn-aside,
.dw-create-publish .publish-step .svelte-publish .alert {
  max-width: 100%;
  margin-top: 7px;
  margin-left: 0;
}
.dw-create-publish .publish-step .svelte-publish .alert.publishing .progress {
  margin-top: 5px;
  margin-bottom: 5px;
}
.dw-create-publish .publish-step .inactive,
.dw-create-publish .publish-step:not(.is-published) .published-only {
  display: none;
}
.dw-create-publish .publish-step h2.pad-top {
  margin-top: 20px;
}
.dw-create-publish .publish-step .btn-copy {
  vertical-align: top;
}
.dw-create-publish .publish-step .block {
  position: relative;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
.dw-create-publish .publish-step .block:last-child {
  border-bottom: none;
}
.dw-create-publish .publish-step .block .icon {
  font-size: 27px;
  min-width: 47px;
  text-align: left;
  height: 46px;
  vertical-align: top;
  position: relative;
  top: 10px;
}
.dw-create-publish .publish-step .block .icon.fa-river {
  top: 3px;
}
.dw-create-publish .publish-step .block .ctrls {
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 60px);
}
.dw-create-publish .publish-step .block .inpt {
  margin-top: 5px;
}
.dw-create-publish .publish-step .block .help {
  position: absolute;
  top: 0;
  right: 0;
}
.dw-create-publish .publish-step label.radio {
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
  margin-left: 5px;
}
.dw-create-publish .publish-step .chart-actions li {
  text-align: center;
  border-radius: 2px;
  min-height: 50px;
  flex: 0 0 100px;
  padding: 15px 0 10px;
}
.dw-create-publish .publish-step .chart-actions li i.fa {
  display: block;
  margin: 0 auto;
  font-size: 32px;
}
.dw-create-publish .publish-step .chart-actions li .title {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 15px;
  display: block;
  padding: 4px 10px 0;
}
.dw-create-publish .publish-step h2.pad-top {
  margin-top: 20px;
}
@media (max-width: 979px) {
  .dw-create-publish .publish-step .chart-actions li {
    flex: 0 0 83px;
    padding: 12px 0 3px;
  }
  .dw-create-publish .publish-step .chart-actions li i.fa {
    font-size: 24px;
  }
}
.publish-chart-action-modal {
  width: 600px;
  margin-left: -300px;
}
.publish-chart-action-modal.modal-wide {
  width: 700px;
  margin-left: -350px;
}
.publish-chart-action-modal .span1 .fa.big {
  font-size: 64px;
  color: #ddd;
  position: relative;
  left: 10px;
}
.chart-editor {
  margin-top: 20px;
  color: #333;
}
.chart-editor h2,
.chart-editor h3,
.chart-editor h4,
.chart-editor p {
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.5;
}
.chart-editor h2 {
  font-weight: 400;
}
.chart-editor p b {
  font-weight: bold;
}
.chart-editor h3 {
  font-weight: 500;
  font-size: 19px;
}
.chart-editor h4 {
  font-weight: 700;
  font-size: 15px;
}
.chart-editor input,
.chart-editor label {
  font-family: 'Roboto', Helvetica, sans-serif;
}
.chart-editor .mini-help {
  font-size: 12px;
  line-height: 15px;
  color: #ababab;
  font-weight: 400;
}
.dw .create-nav > * {
  background: #e5e5e5;
  position: relative;
  border-radius: 4px 0 0 4px;
  text-align: left;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 400;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 768px) and (max-width: 979px) {
  .dw .create-nav > * {
    font-size: 14px;
    line-height: 42px;
    height: 42px;
    margin-bottom: 5px;
    margin-right: -10px;
    padding-right: 10px;
  }
}
.dw .create-nav a > span {
  pointer-events: none;
}
.dw .create-nav .corner {
  background: url(../img/nav-corner.svg) right center no-repeat;
  background-size: 22px;
  width: 22px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -1px;
  border-radius: 0;
  box-shadow: none;
}
@supports (-webkit-clip-path: polygon(0% 0%, 100% 100%)) {
  .dw .create-nav > * {
    clip-path: polygon(0% 0%, 93% 0%, 93.5% 0.5%, 94% 2%, 99.95% 48%, 99.95% 52%, 94% 98%, 93.5% 99.5%, 93% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 93% 0%, 93.5% 0.5%, 94% 2%, 99.95% 48%, 99.95% 52%, 94% 98%, 93.5% 99.5%, 93% 100%, 0% 100%);
  }
  .dw .create-nav .corner {
    display: none;
  }
}
.dw .create-nav > .active {
  background: #c71e1d;
  box-shadow: none;
  font-weight: normal;
  color: #fff;
}
.dw .create-nav > .unseen {
  color: #999;
}
.dw .create-nav > a.unseen {
  color: #15607a;
}
.dw .create-nav > a:hover {
  text-decoration: none;
}
.dw .create-nav > .readonly {
  color: #999;
}
.dw .create-nav > * .step {
  font-weight: bold;
  color: #fff;
  font-size: 26px;
  line-height: 26px;
  position: relative;
  top: 3px;
  margin-left: 18px;
  margin-right: 5px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 1400px) {
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1336px;
  }
  .span1 {
    width: 81px;
  }
  .span2 {
    width: 192px;
  }
  .span3 {
    width: 304px;
  }
  .span4 {
    width: 415px;
  }
  .span5 {
    width: 526px;
  }
  .span6 {
    width: 638px;
  }
  .span7 {
    width: 749px;
  }
  .span8 {
    width: 860px;
  }
  .span9 {
    width: 972px;
  }
  .span10 {
    width: 1083px;
  }
  .span11 {
    width: 1194px;
  }
  .span12 {
    width: 1306px;
  }
}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body {
  background: #f9f9f9;
  color: #333;
  position: relative;
  font-family: 'Roboto', Helvetica, sans-serif;
}
a {
  color: #1d81a2;
}
a:hover {
  color: #15607a;
}
body.dw h1 {
  font-weight: 400;
  font-size: 32px;
}
.dw-alert-message {
  padding: 10px;
  width: 100%;
  z-index: 10000;
  background: #fcf8e3;
  color: #000;
  border-bottom: 1px solid #edddbe;
  box-sizing: border-box;
  text-align: center;
}
.dw-alert-message h2,
.dw-alert-message p,
.dw-alert-message li {
  color: #000;
}
.dw-alert-message li {
  display: inline-block;
  margin-right: 1em;
}
.dw-alert-message h2 {
  margin: 0 0 0px;
  font-size: 18px;
  font-weight: bold;
}
.dw-alert-message code {
  background: #300;
  font-size: 14px;
  color: #ff6;
  border: 0;
}
.dw-alert-message a {
  font-weight: bold;
  text-decoration: underline;
}
.dw-alert-message.dw-alert-warning {
  background: #e35b5b;
  border-bottom: 1px solid #c71e1d;
  color: white;
  font-weight: bold;
}
.dw-alert-message.dw-alert-warning h2,
.dw-alert-message.dw-alert-warning p,
.dw-alert-message.dw-alert-warning li {
  color: white;
}
.dw-alert-message.dw-alert-warning a {
  color: #f6d99d;
}
html h2 {
  font-size: 24px;
  line-height: 36px;
}
html h3 {
  font-size: 18px;
  line-height: 27px;
}
html .navbar-static-top {
  margin-bottom: 30px;
}
#recent-charts {
  list-style: none;
  height: 200px;
  margin-right: 30px;
}
#recent-charts img {
  background: #fff;
}
@media (max-width: 979px) {
  .nav-collapse,
  .nav-collapse.collapse {
    height: 0;
    overflow: hidden;
    background: #f7f7f7;
    z-index: 10000;
    position: absolute;
    left: -20px;
    right: -20px;
    top: 46px;
  }
  .nav-collapse li {
    padding: 0px 5px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
  }
  .nav-collapse li i {
    margin-right: 10px;
  }
  body h1.title {
    font-size: 36px;
    margin-bottom: 10px;
  }
  body h1.title small {
    white-space: normal;
    display: block;
    line-height: 1.1;
    font-size: 20px;
    margin-bottom: 20px;
  }
  body .docs h2 {
    font-size: 21px;
  }
  body .navbar li a .tt {
    display: inline;
  }
}
.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret {
  border-bottom-color: #000;
  border-top-color: #000;
}
.half {
  width: 50%;
  float: left;
}
.half select {
  width: 90%;
}
.span4 .well .span4 {
  width: 90%;
}
.dw-logo {
  font-weight: 500;
  color: #0063a5;
  letter-spacing: -1px;
}
.dw-logo .wrap {
  font-style: normal;
  color: #d8d8d8;
}
.dw-logo-type {
  font-size: 24px;
  line-height: 34px;
  margin-left: 0px;
}
.dw-logo-type a:hover,
.dw-logo-type a:focus {
  color: #0063a5;
  text-decoration: none;
}
.dw .dw-logo-sub {
  margin-bottom: 40px;
  padding-left: 15px;
  font-size: 11px;
  color: #999;
}
.intro-head .dw-logo-type {
  margin-top: 1em;
}
h3 label.radio {
  font-size: 18px;
  font-weight: bold;
}
h3 {
  margin-bottom: 1em;
}
.page-header h3 {
  margin-bottom: 0;
}
.well h3 {
  margin-bottom: 0.4em;
}
.fat-buttons .btn-large {
  width: 100%;
}
.dw .thumbnail > h5 {
  margin-top: 5px;
}
.dw-intro .about li {
  margin: 1ex 0 1ex;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #333;
}
.input-xxlarge,
.btn-xxlarge {
  font-size: 150%;
  height: 27px;
  line-height: 27px;
}
.login-form .input-large {
  width: 95%;
}
.link-list li h3 {
  margin-bottom: 12px;
  line-height: 18px;
}
.link-list li h3 small {
  font-size: 13px;
}
.link-list li h3 i {
  margin-top: 4px;
}
.well-danger {
  background-color: #fee5e5;
  border: 1px solid #edd;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.form-actions {
  background: #f2f2f2;
  border-radius: 0 0 10px 10px;
}
.well-danger .form-actions {
  background: transparent;
}
.page-header h2 {
  margin-bottom: 0;
}
#csv-parse-options label {
  padding-right: 1em;
}
.skip-rows i {
  position: relative;
  top: 2px;
  cursor: pointer;
}
dl.dl-horizontal dt {
  width: 150px;
  text-align: left;
  padding-top: 17px;
}
dl.dl-horizontal dd {
  margin-left: 160px;
  padding-top: 17px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .dw .dw-logo-type {
    font-size: 22px;
    line-height: 36px;
  }
  .dw .dw-logo-sub {
    font-size: 11px;
    padding-left: 5px;
    white-space: nowrap;
  }
}
.tooltip {
  opacity: 1 !important;
}
html .tooltip .tooltip-inner {
  background: #fff;
  color: #000;
  font-size: 11px;
  border: 1px solid #000;
  line-height: 14px;
  text-align: left;
  position: relative;
}
.navbar-static-top .tooltip .tooltip-inner {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.collapse-hidden:before {
  content: '+ ';
}
.collapse-shown:after {
  content: '';
}
h1.title,
.admin h1.title {
  font-size: 38px;
  margin: 0px 0 48px;
  font-weight: 400;
  letter-spacing: -1px;
}
h1.title small {
  white-space: nowrap;
}
h2,
h3 {
  font-weight: 400;
  font-size: 24px;
  margin: 0.5em 0 0.5em;
}
.admin h2,
.admin h3 {
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
}
.docs h4 {
  margin: 20px 0 10px;
}
.docs p,
.docs li,
.docs div {
  font-size: 14px;
  line-height: 22px;
}
.docs .alert big {
  line-height: 1.3;
}
.error .big {
  font-size: 20px;
  line-height: 30px;
  color: #b94a48;
  margin-bottom: 1em;
}
hr {
  border: 0;
  border-top: 1px solid #ddd;
}
ul.options {
  position: relative;
}
ul.options li {
  list-style: none;
  margin-bottom: 1em;
  position: relative;
}
ul.options li i:first-child {
  position: absolute;
  left: -20px;
  top: 2px;
}
.section {
  margin-bottom: 20px;
}
form.well form {
  margin: 0;
}
.well {
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.06);
  border: 1px solid #dddbdb;
  border-right-color: #efefef;
  border-bottom-color: #efefef;
}
.btn-primary.loading:after {
  content: url('../img/btn-loading.gif');
  float: right;
  left: 1px;
  margin-left: 5px;
  position: relative;
  top: 1px;
}
.form-horizontal.compact {
  margin-bottom: 20px;
}
.form-horizontal.compact .control-group {
  margin-bottom: 5px;
}
.form-horizontal.compact .control-label {
  width: 140px;
}
.form-horizontal.compact .controls {
  margin-left: 150px;
}
.icon-rotate {
  background: url(../img/icon-rotate.png) no-repeat;
  width: 16px;
}
.dw .modal-backdrop {
  background-color: #555;
}
.dw .modal-header h1 {
  font-weight: normal;
}
.docs li {
  margin-bottom: 8px;
}
.demo-datasets p {
  margin: 5px 0 10px;
}
.ender-overlay .close-button {
  background: none repeat scroll 0 0 #333333;
  border: 2px solid #ffffff;
  border-radius: 13px 13px 13px 13px;
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
  font-family: Arial;
  height: 23px;
  line-height: 24px;
  letter-spacing: 2;
  margin: 0;
  position: absolute;
  right: -10px;
  text-align: center;
  text-decoration: none;
  top: -10px;
  text-shadow: none;
  width: 23px;
  opacity: 1;
}
.browser {
  display: inline-block;
  width: 66px;
  height: 66px;
  margin: 10px 10px;
  background-image: url(/static/img/browser.png);
}
.browser.firefox {
  background-position: -72px 0;
}
.browser.opera {
  background-position: -142px 0;
}
.browser.safari {
  background-position: -211px 0;
}
.browser.msie {
  background-position: -280px 0;
}
.arguments .span4 {
  text-align: center;
}
.arguments p,
.home .gallery p {
  font-size: 16px;
  padding: 0 20px;
  text-align: center;
  line-height: 26px;
  color: #656565;
}
.arguments {
  margin-bottom: 40px;
}
.arguments h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}
.home .gallery ul {
  margin-bottom: 40px;
}
.home .big-head h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: #222;
  line-height: 60px;
  margin-bottom: 0px;
}
.home .big-head p {
  margin-bottom: 30px;
  color: #656565;
  padding: 0 20px;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
}
.home .docs h3 {
  font-weight: 400;
}
.home .docs p {
  font-size: 16px;
  line-height: 26px;
}
.icon-quickstart,
.icon-help,
.icon-info,
.icon-github {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-image: url(/static/img/home-icons.png);
  background-repeat: no-repeat;
  vertical-align: sub;
}
.icon-quickstart {
  background-position: 0 0;
}
.icon-help {
  background-position: -32px 0;
}
.icon-info {
  background-position: -64px 0;
}
.icon-github {
  background-position: -96px 0;
}
.hide-smart {
  position: absolute !important;
  left: -10000px;
  top: 0;
  width: 100%;
}
select,
textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
.uneditable-input {
  border-radius: 1px;
}
.did-you-know {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.4;
  padding: 1.2em 1.5em;
  background: #d7eff7;
  color: #444;
  border-radius: 4px;
}
.did-you-know .close {
  color: #1d81a2;
  opacity: 1;
  position: relative;
  top: 2px;
  text-shadow: none;
}
.did-you-know .close .im {
  font-size: 22px;
}
.did-you-know .close:hover {
  color: #15607a;
}
.did-you-know h3 {
  font-weight: bold;
  margin-top: 0;
  color: #444;
  font-size: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5em;
  line-height: 1.3;
}
.did-you-know p {
  font-weight: 400;
}
.did-you-know p .im-graduation-hat {
  color: #1d81a2;
}
.did-you-know p a {
  color: #1d81a2;
  font-weight: bold;
  text-decoration: underline;
}
.did-you-know p:last-child {
  margin-bottom: 0;
}
.did-you-know p .im-graduation-hat {
  font-size: 18px;
  vertical-align: middle;
}
.well .did-you-know {
  border: 1px solid rgba(0, 0, 0, 0.05);
}
button.btn > i.im {
  font-size: 0.8rem !important;
  vertical-align: middle;
}
button.btn-small > i.im {
  font-size: 0.7rem !important;
}
.plain-link {
  background: transparent;
  border: 0;
  padding: 0;
  line-height: inherit;
  font-size: inherit;
  vertical-align: inherit;
  color: #1d81a2;
}
.plain-link:hover {
  text-decoration: underline;
  color: #15607a;
}
.plain-link[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
