.message {
    $subtle-border-color: rgba(0, 0, 0, .05);
    .message-body {
        border-color: $subtle-border-color $subtle-border-color $subtle-border-color $message-body-border-color;
        border-width: 1px 1px 1px 4px;
    }
    .message-header + .message-body {
        border-width: 0px 1px 1px 1px;
        border-color: $subtle-border-color;
    }
    &.is-deletable {
        .message-body {
            position: relative;
            padding-right: 2.5em;
            & > .delete {
                position: absolute;
                right: 0.5rem;
                top: 0.5rem;
            }
        }
        .message-header + .message-body {
            padding: $message-body-padding;
        }
    }
  @each $name, $components in $message-colors {
    $color: nth($components, 1);

    &.is-#{$name} {
      .message-body {
        border-color: $subtle-border-color $subtle-border-color $subtle-border-color $color;
      }
      .message-header + .message-body {
          border-color: $subtle-border-color;
      }
    }
  }
}
